.mono-slug-field {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

.mono-slug-field .mono-slug-field-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-direction: row;
}

.mono-slug-field .mono-slug-field-generate-button {
  margin: 0;
  background: none;
  border: none;
  color: var(--theme-elevation-400);
  font-size: 12px;
  cursor: pointer;
  padding: 0;
  text-decoration: underline;
}